:root {
  --heading-anchor-icon: '#';
}

.heading__anchor {
  padding: 0 .175rem;
  font-weight: 400;
  color: rgba(var(--bs-link-color), 0.5);
  text-decoration: none;
  opacity: 0;
  transition: color 0.15s ease-in-out,opacity 0.15s ease-in-out;
}

.heading__anchor::after {
  content: var(--heading-anchor-icon);
}

.heading__anchor:focus,
.heading__anchor:hover,
.heading:hover .heading__anchor,
.heading:target .heading__anchor {
  color: var(--bs-link-color);
  text-decoration: none;
  opacity: 1;
}

.fact-card__label {
  white-space: nowrap;
}

.fact-card__output {
  display: grid;
  justify-items: center;
  align-items: center;
}

:root {
  --fact-min-width: 15rem;
  --fact-grid-cols: 12;
  --fact-grid-col-span: 1;
  --fact-grid-row-span: 1
}

.fact-grid {
  display: grid;
  grid-gap: 1em;

  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(var(--fact-grid-cols), minmax(var(--fact-min-width), 1fr));
}

.fact-grid .fact-container {
  grid-area: span var(--fact-grid-row-span) / span var(--fact-grid-col-span);
}
